* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(rgba(43, 19, 182, 0.315), rgba(43, 19, 182, 0.315));
    height: 100vh;
    /*background-size: cover;*/
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}

ul {
    list-style-type: none;
    float: right;
    margin-top: 25px;
    margin-left: 100px;
    position: absolute;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.7s ease;
}

ul li a:hover {
    background-color: rgb(67, 125, 177);
    color: #fff;
}

#copyright {
    text-justify: distribute;
    text-align: center;
}

.width {
    max-width: 50%;
    margin: auto;
}

.position {
    display: flex;
    position: absolute;
    top: 30%;
}

#text {
    color: #fff;
    padding: 0%;
    margin-left: 50px;
    margin-right: 170px;
}

#word {
    font-size: large;
    font-style: italic;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 20px;
    transition: 0.6s ease;
}

#word:hover {
    color: gold;
    font-style: oblique;
    transform: scale(1.1);
}

#image {
    margin-right: 80px;
    border-radius: 5px;
    transition: 0.6s ease;
}

#image:hover {
    transform: scale(1.1);
}

#coding {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7));
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.li {
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
}

.active {
    background-color: rgb(67, 125, 177);
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.7s ease;
}

#aboutme {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url("../portfolio_images/foraboutme.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#styleforli {
    position: absolute;
    list-style-type: none;
    float: right;
    margin-top: 25px;
}

#codingdiv {
    position: absolute;
    top: 50%;
    display: flex;
    color: #fff;
    margin: 0px 10px 0px 10px;
    transition: 0.6s ease;
}

.stylediv {
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.6s ease;
    border-radius: 20px;
    padding: 5px;
}

.stylediv:hover {
    background-color: rgb(104, 104, 36);
    transform: scale(1.1);
    border-radius: 20px;
}

#photoaboutme {
    height: 50vh;
    width: 30vh;
}

#table {
    position: absolute;
    top: 20%;
    margin: 0px 20px 0px 60px;
    transition: 00.6s ease;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#table:hover {
    transform: scale(1.1);
}

table,
th,
td {
    border: 1px solid rgb(223, 171, 171);
}

#Experience {
    position: absolute;
    top: 35%;
    margin: 20px 20px 0px 60px;
    transition: 00.6s ease;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#Experience:hover {
    transform: scale(1.1);
}

#contact {
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url("../portfolio_images/forcontact.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width:485px) {
    header {
        overflow: visible;
        background-attachment: fixed;
    }
    .width {
        margin-left: 1px;
        float: left;
        display: flex;
    }
    ul li a {
        margin: 5px;
    }
    #contact {
        background-attachment: fixed;
    }
    ul li {
        display: inline-flex;
    }
    ul {
        float: right;
        margin-left: 10px;
    }
    .icon {
        margin: 10px;
        padding: 10px;
    }
    .media {
        display: flex;
        width: 5%;
        height: 10%;
        margin-left: 10px;
    }
    #insta {
        margin-left: 10px;
        transition: 0.6s ease;
    }
    #linkedin {
        margin-left: 20px;
        transition: 0.6s ease;
    }
    #facebook {
        margin-left: 30px;
        transition: 0.6s ease;
    }
    #github {
        margin-left: 40px;
        transition: 0.6s ease;
    }
    #gmail {
        margin-left: 50px;
    }
}

#commentd_div {
    position: absolute;
    top: 70%;
    left: 30%;
    color: #fff;
}

.for_name_div {
    padding: 5px 7px 5px 7px;
    margin: 10px 20px 10px 20px;
    color: #fff;
}

.set {
    position: absolute;
    width: 60px;
    height: 80px;
    top: 30%;
    margin-left: 100px;
    padding: 10px;
}

.icon {
    margin: 50px;
    padding: 10px;
    margin: 50px;
}

#insta {
    margin-left: 100px;
    transition: 0.6s ease;
}

#linkedin {
    margin-left: 200px;
    transition: 0.6s ease;
}

#facebook {
    margin-left: 300px;
    transition: 0.6s ease;
}

#github {
    margin-left: 400px;
    transition: 0.6s ease;
}

#gmail {
    margin-left: 500px;
    transition: 0.6s ease;
}

#insta:hover {
    transform: scale(1.2);
}

#linkedin:hover {
    transform: scale(1.2);
}

#facebook:hover {
    transform: scale(1.2);
}

#github:hover {
    transform: scale(1.2);
}

#gmail:hover {
    transform: scale(1.2);
}

.media {
    display: inline-flex;
    margin-left: 100px;
}